div {
  border: 1px solid black;
  background: white;
  box-sizing: border-box;
}
.board {
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  /*put on the bottom*/
  z-index: -1;
  /*For gutters later*/
  box-sizing: border-box;
}

.row1:before, .row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2:before, .row2:after {
  content: "";
  display: table;
  clear: both;
}

.row3:before, .row3:after {
  content: "";
  display: table;
  clear: both;
}

.row4:before, .row4:after {
  content: "";
  display: table;
  clear: both;
}

/*Change @media queries for smaller size screens*/

