#board {
  background: #C7C8CA;
  width: 500px; height: 500px;
}

#board .position {
  border: 1px solid #C2C2C2;
  box-sizing: border-box;
  float: left;
  height: 125px;
  width: 125px;
  text-align: center;
  line-height: 125px;
}

#board .position:hover {
  background: #FFCF46;
  border: 1px solid black;
}

#board .position.pX {
  background: url("../assets/X.png");
  background-size: 100% 100%;
}

#board .position.pO {
  background: url("../assets/O.png");
  background-size: 100% 100%;
}

/*Change @media queries for smaller size screens*/

