* {
  border: "solid 1px black";
}
.board {
  border: 1px solid black;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  /*put on the bottom*/
  z-index: -1;
  /*For gutters later*/
  box-sizing: border-box;
}

/*Row elements keep columns inside - stop overflow*/
/*DRY*/
.row1 {

}

.row2 {

}

.row3 {

}

.row4 {

}

.row1:before, .row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2:before, .row2:after {
  content: "";
  display: table;
  clear: both;
}


.row3:before, .row3:after {
  content: "";
  display: table;
  clear: both;
}

.row4:before, .row4:after {
  content: "";
  display: table;
  clear: both;
}

/*Set column widths*/
  /*Maybe set all colums to a common class?*/
  /*Remember gutters*/
.col1 {
  float: left;
  width: 25%;
}

.col2 {
  float: left;
  width: 25%;
}

.col3 {
  float: left;
  width: 25%;
}

.col4 {
  float: left;
  width: 25%;
}

/*Change @media queries for smaller size screens*/

