body {
  /*text-align: center;*/
  min-width: 500px;
  font-family: monospace;
  font-size: 1.3em;
  font-style: normal;
  font-variant: normal;
  background: #C7C7C7;
}

.cover{
  background-color: rgba(0, 0, 0, 0.0);
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  /*fallback color*/
  color: black;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

span {
  text-transform: uppercase;
}
button {
  font-size: 14px;
  display: inline;
  padding: 1% 3%;
  font-weight: bold;
  border: 1px solid #505050;
  color: #4F4F4F;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
}
button:hover {
  color: black ;
  border: 1px solid #505050;
  animation-name: boingboing;
  animation-duration: 3s;
  -webkit-animation-name: boingboing;
  -webkit-animation-duration: 3s;
  animation-iteration-count:infinite;
}

#page {
  width: 100%;
  height: 100%;
}

#board {
  background: white;
  width: 500px; height: 500px;
}

#board .square {
  border: 2px solid #C7C7C7;
  box-sizing: border-box;
  float: left;
  height: 125px;
  width: 125px;
  text-align: center;
  line-height: 125px;
  cursor: pointer;
}

#board .clicked {
  cursor: default;
}

#board .square:hover {
  /*Change to fade in or something*/
  border: 1px solid #505050;
  /*fallback color*/
  color: grey;
  background: rgba(80,80,80,.6);
  animation-name: boingboing;
  animation-duration: 3s
  -webkit-animation-name: boingboing;
  -webkit-animation-duration: 3s;
  animation-iteration-count:infinite;
}

@keyframes boingboing {
  0%{
    opacity: .8;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: .8;
    transform: scale(1, 1);
  }
}

#board .square.red {
  background: url("../assets/red.png");
  background-size: 100% 100%;
  border: 1px solid black;
}

#board .square.blue {
  background: url("../assets/blue.png");
  background-size: 100% 100%;
  border: 1px solid black;
}

#rule-modal {
  position: fixed;
  top: 0;
  left: 0;
  /*fallback color*/
  background: black;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  height: 100%;
  width: 100%;
  animation-name: animatetop;
  animation-duration: 0.5s;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
  from {top: -500px; opacity: 0}
  to {top: 0; opacity: 1}
}

.rules-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 50%;
  padding: 20px;
}

/*Change @media queries for smaller size screens*/
